services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: laravel_app
    volumes:
      - app_data:/var/www
    networks:
      - laravel

  nginx:
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    container_name: laravel_nginx
    ports:
      - "80:80"
    depends_on:
      - app
    volumes:
      - app_data:/var/www
    networks:
      - laravel

volumes:
  app_data:
